# SonarQube environment configuration

SONARQUBE_DB_USER=sonar
SONARQUBE_DB_PASSWORD=admin123
SONARQUBE_DB_NAME=sonarqube
SONARQUBE_DB_PORT=5432
SONARQUBE_VERSION=9.9.8.100196
SONARQUBE_HTTP_PORT=9000